* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body {
  background-color: #9ac4f8;
}

h1 {
  text-align: center;
}
.search-bar-container {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 2rem;
}

.search-bar-button-container {
  width: 40%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.search-bar-button, .search-field-dropdown {
  background-color: #cb958e;
  height: 2rem;
  width: 5rem;
  border: 1px solid black;
  box-shadow: 1px 1px #282c34;
  margin: 0 .25rem;
}

.search-bar-button {
  border-radius: 10%;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#all-gifs-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: left;
}
.single-gif-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
  padding-top: 0.5rem;
}

.gif-copy-url {
  font-size: 15px;
  text-align: center;
}

.gif-url {
  color: black;
  font-size: 10px;
  border: 1px black solid;
  background-color: aliceblue;
}

.landing-page-ui-description {
  text-align: center;
}
